{% extends "profile/base.html.twig" %}

{% block metatitle %}
    Home | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.scss') }}">
    {{ parent()}}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}

{% block main %}
       <section class="section">
           {% block search %}
               <form action="{{ path('profile_search_all') }}">
                   <div id="divSearch">
                       <div class="btn logo icon">
                           <label for="userId">
                               <a href="# {{ path('profile_search_all') }}" class="logo" type="submit">
                                   <img src="{{ asset('icon/loupe.png') }}" alt="login" class="logo" type="submit">
                               </a>
                           </label>
                       </div>
                       <div class="btn">
                           <input type="text" id="userId" name="query" placeholder="Ville, Code postal">
                       </div>
                       <input type="submit">
                       {#<div class="btn logo"><label for="userId"><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label></div> #}
                       {#<div class="btn"><input type="text" id="userId" name="userId" placeholder="Ville, Code postal"></div> #}
                   </div>
               </form>
           {% endblock search %}
                <div class="line"></div>
           <article>
               <div id="ico">
                   <div class="element">
                       <a href="{{ path('profile_sessions') }}">
                           <img class="title logoBig" src="{{ asset('icon/sessions_titre.png') }}" alt="Sessions">
                       </a>
                   </div>
                   <div class="element">
                       <a href="{{ path('profile_sessions') }}">
                           <img class="title logoBig" src="{{ asset('icon/session.png') }}" alt="Sessions-icon">
                       </a>
                   </div>
               </div>
               <div class="line"></div>
               {% for session in lastSessions %}
                   <div class="card">
                       <div class="card-text">
                           <h2>{{ session.title }}</h2>
                           <h3>{{ session.description }}</h3><br>
                           <!--  if session.finished  <h3>La session est finie depuis :  session.finished | datetime(D-m-Y) }}</h3> -->
                       </div>
                       <div class="card-image">
                           <!-- if session.finished <img src=" session.image }}" alt="image de la session"> -->
                       </div>
                       <div class="card-ic">
                           <div id="adm-btn" class="adm-btn">
                               <div class="ic" ><a id="link1" href="{{ path('profile_session', {"id": session.id}) }}"><img class="logo" src="{{ asset('icon/open-blue.png') }}" alt="Voir la session">
                                       <br><h4 class="pad5">Voir la session</h4></a>
                               </div>
                               <div class="ic" ><a id="link2" href="{{ path('profile_session_create') }}"><img class="logo" src="{{ asset('icon/add-file-green.png') }}" alt="Créer une session">
                                       <br><h4 class="pad5">Créer une session</h4></a>
                               </div>
                               <div class="ic" ><a id="link3" href="{{ path('profile_session_update', {"id": session.id}) }}"><img class="logo" src="{{ asset('icon/edit-pink.png') }}" alt="Modifier une session">
                                       <br><h4 class="pad5">Modifier une session</h4></a>
                               </div>
                               <div class="ic" ><a id="link4" href="{{ path('profile_session_delete', {"id": session.id}) }}"><img class="logo" src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le session">
                                       <br><h4 class="pad5">Supprimer le session</h4></a>
                               </div>
                           </div>
                       </div>
                   </div>
               {% endfor %}

           </article>
       </section>
       <section class="section">
           <article>
               <div id="ico">
                   <div class="element">
                       <a href="{{ path('profile_skateparks') }}">
                           <img class="title logoBig" src="{{ asset('icon/skateparks_titre.png') }}" alt="Skatepark">
                       </a>
                   </div>
                   <div class="element">
                       <a href="{{ path('profile_skateparks') }}">
                           <img class="title logoBig" src="{{ asset('icon/skateparks.png') }}" alt="Skatepark-icon">
                       </a>
                   </div>
               </div>
               <div class="line"></div>
               {% for skatepark in lastSkateparks %}
                   <div class="card">
                       <div class="card-text">
                           <h2>{{ skatepark.title }}</h2>
                           <h3>{{ skatepark.description }}</h3><br>
                       </div>
                   </div>
                   <div class="card-ic">
                       <div id="adm-btn" class="adm-btn">
                           <div class="ic" ><a id="link1" href="{{ path('profile_skatepark', {"id": skatepark.id}) }}"><img class="logo" src="{{ asset('icon/open-blue.png') }}" alt="Voir le skatepark">
                                   <br><h4 class="pad5">Voir le skatepark</h4></a>
                           </div>
                           <div class="ic" ><a id="link2" href="{{ path('profile_skatepark_create') }}"><img class="logo" src="{{ asset('icon/add-file-green.png') }}" alt="Créer un skatepark">
                                   <br><h4 class="pad5">Créer un skatepark</h4></a>
                           </div>
                           <div class="ic" ><a id="link3" href="{{ path('profile_skatepark_update', {"id": skatepark.id}) }}"><img class="logo" src="{{ asset('icon/edit-pink.png') }}" alt="Modifier le skatepark">
                                   <br><h4 class="pad5">Modifier le skatepark</h4></a>
                           </div>
                           <div class="ic" ><a id="link4" href="{{ path('profile_skatepark_delete', {"id": skatepark.id}) }}"><img class="logo" src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le skatepark">
                                   <br><h4 class="pad5">Supprimer le skatepark</h4></a>
                           </div>
                       </div>
                   </div>
               {% endfor %}
           </article>
       </section>
       <section class="section">
           <article>
               <div id="ico">
                   <div id="ico">
                       <div class="element">
                           <a href="{{ path('profile_clubs') }}">
                               <img class="title logoBig" src="{{ asset('icon/clubs_titre.png') }}" alt="club">
                           </a>
                       </div>
                       <div class="element">
                           <a href="{{ path('profile_clubs') }}">
                               <img class="title logoBig" src="{{ asset('icon/clubs.png') }}" alt="club-icon">
                           </a>
                       </div>
                   </div>
               </div>
               <div class="line"></div>
               {% for club in lastClubs %}
                   <div class="card">
                       <div class="card-text">
                           <h2>{{ club.title }}</h2>
                           <h3>{{ club.description }}</h3><br>
                       </div>
                   </div>
                   <div class="card-ic">
                       <div id="adm-btn" class="adm-btn">
                           <div class="ic" ><a id="link1" href="{{ path('profile_club', {"id": club.id}) }}"><img class="logo" src="{{ asset('icon/open-blue.png') }}" alt="Voir le club">
                                   <br><h4 class="pad5">Voir le club</h4></a>
                           </div>
                           <div class="ic" ><a id="link2" href="{{ path('profile_club_create') }}"><img class="logo" src="{{ asset('icon/add-file-green.png') }}" alt="Créer un club">
                                   <br><h4 class="pad5">Créer un club</h4></a>
                           </div>
                           <div class="ic" ><a id="link3" href="{{ path('profile_club_update', {"id": club.id}) }}"><img class="logo" src="{{ asset('icon/edit-pink.png') }}" alt="Modifier le club">
                                   <br><h4 class="pad5">Modifier le club</h4></a>
                           </div>
                           <div class="ic" ><a id="link4" href="{{ path('profile_club_delete', {"id": club.id}) }}"><img class="logo" src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le club">
                                   <br><h4 class="pad5">Supprimer le club</h4></a>
                           </div>
                       </div>
                   </div>
               {% endfor %}
           </article>
       </section>
       <section class="section">
           <article>
               <div id="ico">
                   <div class="element">
                       <a href="{{ path('profile_shops') }}">
                           <img class="title logoBig" src="{{ asset('icon/shops_titre.png') }}" alt="Shop">
                       </a>
                   </div>
                   <div class="element">
                       <a href="{{ path('profile_shops') }}">
                           <img class="title logoBig" src="{{ asset('icon/shops.png') }}" alt="Shop-icon">
                       </a>
                   </div>
               </div>
               <div class="line"></div>
               {% for shop in lastShops %}
                   <div class="card">
                       <div class="card-text">
                           <h2>{{ shop.title }}</h2>
                           <h3>{{ shop.description }}</h3><br>
                       </div>
                   </div>
                   <div class="card-ic">
                       <div id="adm-btn" class="adm-btn">
                           <div class="ic" ><a id="link1" href="{{ path('profile_shop', {"id": shop.id}) }}"><img class="logo" src="{{ asset('icon/open-blue.png') }}" alt="Voir le shop">
                                   <br><h4 class="pad5">Voir le shop</h4></a>
                           </div>
                           <div class="ic" ><a id="link2" href="{{ path('profile_shop_create') }}"><img class="logo" src="{{ asset('icon/add-file-green.png') }}" alt="Créer un shop">
                                   <br><h4 class="pad5">Créer un shop</h4></a>
                           </div>
                           <div class="ic" ><a id="link3" href="{{ path('profile_shop_update', {"id": shop.id}) }}"><img class="logo" src="{{ asset('icon/edit-pink.png') }}" alt="Modifier un shop">
                                   <br><h4 class="pad5">Modifier un shop</h4></a>
                           </div>
                           <div class="ic" ><a id="link4" href="{{ path('profile_shop_delete', {"id": shop.id}) }}"><img class="logo" src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le shop">
                                   <br><h4 class="pad5">Supprimer le shop</h4></a>
                           </div>
                       </div>
                   </div>
               {% endfor %}
           </article>
       </section>
{% endblock main %}
