{% extends "profile/base.html.twig" %}

{% block metatitle %}
    {{ session.title }} | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.scss') }}">
    {{ parent()}}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}

{% block main %}
    <section class="">
        <div id="ico">
            <div class="element">
                <a href="{{ path('profile_sessions') }}">
                    <img class="title logoBig" href="{{ path('profile_sessions') }}" src="{{ asset('icon/sessions_titre.png') }}" alt="Sessions">
                </a>
            </div>
            <div class="element">
                <a href="{{ path('profile_sessions') }}">
                    <img class="title logoBig" href="{{ path('profile_sessions') }}" src="{{ asset('icon/session.png') }}" alt="Sessions-icon">
                </a>
            </div>
        </div>
        <div class="line"></div>
        <div class="">
            <form action="{{ path('profile_search_sessions') }}">
                <article class="detail">
                    <div class="card-text" id="divSearch">
                        <div class="btn logo icon"><label for="userId"><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label>
                        </div>
                        <div class="btn"><input type="text" id="userId" name="query" placeholder="Ville, Code postal">
                        </div>
                        {% block search %}{% endblock search %}
                    </div>
                </article>
            </form>
        </div>
        <div class="line"></div>
        <article class="card-detail">
            <div class="card-title"><h1>{{ session.title }}</h1><br></div>
        </article>
        <article class="card-address">
            <div class="card-title"><h2>{{ session.address }} {{ session.town }}</h2></div>
        </article>
        <article class="detail">
            <div class="card-text">
                <div class="" id="tm">
                    <div class="" id="tmbk">
                        <div id="abs1" class="absolute">
                            <b><img class="left logoBig resp arrow-left" src="{{ asset('icon/fleche_droite.png') }}" alt="Preview">
                            </b><br />
                        </div>
                        <div id="abs2" class="absolute">
                            <b>
                                <img class="arrow-right right logoBig resp" src="{{ asset('icon/fleche_droite.png') }}" alt="Next">
                            </b>
                            <br />
                        </div>
                        <div id="sta1" class="static">
                            <b>
                                <img class="img-card" src="{{ asset('uploads/cover/'~session.coverFilename) }}" alt="photo-session">
                            </b><br />
                        </div>
                    </div>
                    <div class="image">
                        <table>

                        </table>
                    </div>
                </div>
            </div>
        </article>
    </section>
    <section>
        <article class="detail">
            <div class="card-text">
                <div class="card-ic">
                    <div id="adm-btn" class="adm-btn">
                        <div class="ic" ><a id="link2" href="{{ path('profile_session_create') }}"><img src="{{ asset('icon/add-file-green.png') }}" alt="Créer une session">
                                <br><h4 class="pad5">Créer une session</h4></a>
                        </div>
                        <div class="ic" ><a id="link3" href="{{ path('profile_session_update', {"id": session.id}) }}"><img src="{{ asset('icon/edit-pink.png') }}" alt="Modifier une session">
                                <br><h4 class="pad5">Modifier une session</h4></a>
                        </div>
                        <div class="ic" ><a id="link4" href="{{ path('profile_session_delete', {"id": session.id}) }}"><img src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le session">
                                <br><h4 class="pad5">Supprimer le session</h4></a>
                        </div>
                    </div>
                </div>
                <div class="justifyBox">
                    <p>{{ session.description }}{{ session.description }}</p>
                </div>
            </div>
            <div class="card-text">
                <iframe src="https://www.google.com/maps?q=[{{session.address}}{{session.town}}]&output=embed" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    </section>
    <section class="section">
        <article>
            <div class="justifyBox">
                <h3>{{ session.address }}</h3><br>
                <h3>{{ session.town }}</h3><br>
                <h3>{{ session.area }}</h3><br>
                {% if session.startAt %}
                    <h3>La session est commencé depuis: {{ session.startAt  | date("Y-m-d H:i:s" ) |format_datetime('full', 'short', locale='fr') }}</h3><br>
                {% else %}
                    <h3>La session n'est pas commencé </h3><br>
                {% endif %}
                {% if session.finishedAt %}
                    <h3>La session est finie depuis: {{ session.finishedAt  | date("Y-m-d H:i:s") |format_datetime('full', 'short', locale='fr') }}</h3><br>
                {% else %}
                    <h3>La session n'est pas finie </h3><br>
                {% endif %}
            </div>
        </article>
    </section>
{% endblock main %}