{% extends "profile/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block metatitle %}
    Sessions | Skateboard Social Club
{% endblock metatitle %}

{% block main %}
    <section class="">
        <div id="ico">
            <div class="element">
                <a href="{{ path('profile_sessions') }}">
                    <img class="title logoBig" src="{{ asset('icon/sessions_titre.png') }}" alt="Sessions">
                </a>
            </div>
            <div class="element">
                <a href="{{ path('profile_sessions') }}">
                    <img class="title logoBig" src="{{ asset('icon/session.png') }}" alt="Sessions-icon">
                </a>
            </div>
         </div>
        <div class="line"></div>
        <div class="">
            {% block search %}
                <form action="{{ path('profile_search_sessions') }}">
                    <div id="divSearch">
                        <div class="btn logo icon">
                            <label for="userId">
                                <img src="{{ asset('icon/loupe.png') }}" alt="loupe">
                            </label>
                        </div>
                        <div class="btn">
                            <input type="text" id="userId" name="query" placeholder="Ville, Code postal">
                        </div>
                        <input type="submit">
                    </div>
                </form>
            {% endblock search %}
        </div>
        <div class="line">
        </div>
    </section>
    <section class="section">
        <article class="book-detail">
            <article class="">
            </article>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d22632.638892001858!2d-0.5839162444580078!3d44.84030694564788!3m2!1i1024!2i768!4f13.1!2m1!1sclub%20skateboard%20bordeaux!5e0!3m2!1sfr!2sfr!4v1653259456211!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    </section>
    <section class="section">
        <h3 class="al"> Aller à :</h3>

            {% for session in sessions %}
                    <div class="card-text">
                        <div class="card-t">
                            <h1>{{ session.title }}</h1>
                        </div>
                        <div id="abs5" class="absolute ban" alt="banner-address">
                            <h2>{{ session.address}} {{ session.town}}</h2>
                        </div>
                        <div id="sta1" class="static">
                            <b>
                                <img class="img-card" src="{{ asset('uploads/cover/'~session.coverFilename) }}" alt="photo-session">
                            </b>
                        </div>
                    </div>
            <div class="card">
                <div class="card-text">
                    <h2>{{ session.description}}</h2>
                    <div>
                        <h3>{{ session.town}}</h3>

                        <h3>{{ session.area}}</h3>
                    </div>
                        {% if session.startAt %}
                            <div>
                                <h3>La session est commencé depuis: {{ session.startAt  | date("Y-m-d H:i:s" ) |format_datetime('full', 'short', locale='fr') }}</h3>
                            </div>
                             {% else %}
                                 <div>
                                     <h3>La session n'est pas commencé </h3>
                                 </div>
                        {% endif %}
                        {% if session.finishedAt %}
                            <div>
                                <h3>La session est finie depuis: {{ session.finishedAt  | date("Y-m-d H:i:s") |format_datetime('full', 'short', locale='fr') }}</h3>
                            </div>
                             {% else %}
                                 <div>
                                     <h3>La session n'est pas finie </h3>
                                 </div>
                        {% endif %}
                        {#             {% if skatepark.club %} #}
                        {#                        <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3> #}
                        {#                    {% endif %} #}
                        <div class="card-ic">
                            <div id="adm-btn" class="adm-btn">
                                <div class="ic" ><a id="link1" href="{{ path('profile_session', {"id": session.id}) }}"><img src="{{ asset('icon/open-blue.png') }}" alt="Voir la session">
                                        <br><h4 class="pad5">Voir la session</h4></a>
                                </div>
                                <div class="ic" ><a id="link2" href="{{ path('profile_session_create') }}"><img src="{{ asset('icon/add-file-green.png') }}" alt="Créer une session">
                                        <br><h4 class="pad5">Créer une session</h4></a>
                                </div>
                                <div class="ic" ><a id="link3" href="{{ path('profile_session_update', {"id": session.id}) }}"><img src="{{ asset('icon/edit-pink.png') }}" alt="Modifier une session">
                                        <br><h4 class="pad5">Modifier une session</h4></a>
                                </div>
                                <div class="ic" ><a id="link4" href="{{ path('profile_session_delete', {"id": session.id}) }}"><img src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le session">
                                        <br><h4 class="pad5">Supprimer le session</h4></a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>

       {% endfor %}
    </section>
{% endblock main%}