{% extends "profile/base.html.twig" %}

{% block metatitle %}
    Créer une Session | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.scss') }}">
    {{ parent()}}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}

{% block main %}
    <section class="section">
        <div class="detail">
            <div class="justify-between flex fdr">
                <div class="flex">
                    {{ form(sessionForm)}}
                    {{ form_start(sessionForm) }}

                    {{ form_label(sessionForm.title, 'titre', {
                        'label_attr': {
                            'class': 'testLabelClass'
                        }
                    }) }}

                    {{ form_widget(sessionForm.title, {
                        'attr': {
                            'class': 'testClass'
                        }
                    }) }}

                    {{ form_label(sessionForm.description) }}
                    {{ form_widget(sessionForm.description) }}

                    {{ form_label(sessionForm.address) }}
                    {{ form_widget(sessionForm.address) }}

                    {{ form_label(sessionForm.zippcode) }}
                    {{ form_widget(sessionForm.zippcode) }}

                    {{ form_label(sessionForm.town) }}
                    {{ form_widget(sessionForm.town) }}

                    {{ form_label(sessionForm.area) }}
                    {{ form_widget(sessionbForm.area) }}

                    {{ form_label(sessionForm.coverfilename) }}
                    {{ form_widget(sessionForm.coverfilename) }}

                    {{ form_widget(sessionForm.submit) }}

                    {{ form_end(sessionForm) }}
                </div>
            </div>
        </div>
    </section>
{% endblock main %}

