{% extends "admin/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
{% endblock stylesheets %}

{% block metatitle %}
    Skateparks | Skateboard Social Club
{% endblock metatitle %}

{% block main %}
    <section class="">
        <div id="ico">
            <div class="element"><img class="title logoBig" href="{{ path('admin_skateparks') }}" src="{{ asset('icon/skateparks_titre.png') }}" alt="Skatepark"></div>
            <div class="element"><img class="title logoBig" href="{{ path('admin_skateparks') }}" src="{{ asset('icon/skateparks.png') }}" alt="Skatepark-icon"></div>
        </div>
        <div class="line"></div>
        <div class="">
            {% block search %}
                <form action="{{ path('admin_search_skateparks') }}">
                    <div id="divSearch">
                        <div class="btn logo"><label for="userId"><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label></div>
                        <div class="btn"><input type="text" id="userId" name="query" placeholder="Ville, Code postal"></div>
                        <input type="submit">
                        {#<div class="btn logo"><label for="userId"><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label></div> #}
                        {#<div class="btn"><input type="text" id="userId" name="userId" placeholder="Ville, Code postal"></div> #}
                    </div>
                </form>
            {% endblock search %}
        </div>
        <div class="line"></div>
    </section>
    <section class="section">
        <article class="book-detail">
            <article class="">
            </article>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d45267.45075272003!2d-0.571391187931922!3d44.837541008065486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sskatepark%20bordeaux!5e0!3m2!1sfr!2sfr!4v1653259114005!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    </section>
    <section class="section">
        {% for skatepark in skateparks %}
            <div class="card">
                <div class="card-text">
                    <h1>{{ skatepark.title }}</h1>
                    {#  <img src="{{ asset('uploads/cover/'~club.coverFilename) }}" alt=""> #}
                        <h2>{{ skatepark.description}}</h2>
                        <h3>{{ skatepark.town}}</h3>
                        <h3>{{ skatepark.area}}</h3>
                    {#             {% if skatepark.club %} #}
                    {#                        <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3> #}
                    {#                    {% endif %} #}
                </div>
                <a class="link" href="{{ path('admin_skatepark', {"id": skatepark.id}) }}">Voir le skatepark</a>
                <a class="link" href="{{ path('admin_skatepark_create', {"id": skatepark.id}) }}">Créer un skatepark</a>
                <a class="link" href="{{ path('admin_skatepark_update', {"id": skatepark.id}) }}">Modifier le skatepark</a>
                <a class="link" href="{{ path('admin_skatepark_delete', {"id": skatepark.id}) }}">Supprimer le skatepark</a>
            </div>
        {% endfor %}
    </section>
{% endblock main%}