{% extends "front/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block metatitle %}
    Clubs | Skateboard Social Club
{% endblock metatitle %}

{% block main %}
    <section class="">
        <div id="ico">
            <div class="element"><img class="title logoBig" href="{{ path('clubs') }}" src="{{ asset('icon/clubs_titre.png') }}" alt="Club"></div>
            <div class="element"><img class="title logoBig" href="{{ path('clubs') }}" src="{{ asset('icon/club.png') }}" alt="Club-icon"></div>
        </div>
        <div class="line"></div>
        <div class="">
            <form action="{{ path('search_clubs') }}">
                <article class="detail">
                    <div class="card-text" id="divSearch">
                        <div class="btn logo icon"><label for="userId"><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label>
                        </div>
                        <div class="btn"><input type="text" id="userId" name="query" placeholder="Ville, Code postal">
                        </div>
                        {% block search %}{% endblock search %}
                    </div>
                </article>
            </form>
        </div>
        <div class="line">
        </div>
    </section>
    <section class="section">
        <article class="book-detail">
            <article class="">
            </article>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d45267.45075272003!2d-0.571391187931922!3d44.837541008065486!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sskatepark%20bordeaux!5e0!3m2!1sfr!2sfr!4v1653259114005!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    </section>
    <section class="section">
            {% for club in clubs %}
                <div class="card">
                    <div class="card-text">
                        <h1>{{ club.title }}</h1>
                        {#  <img src="{{ asset('uploads/cover/'~club.coverFilename) }}" alt=""> #}
                        <h2>{{ club.description}}</h2>
                        <h3>{{ club.town}}</h3>
                        <h3>{{ club.area}}</h3>
                        {#             {% if skatepark.club %} #}
                        {#                        <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3> #}
                        {#                    {% endif %} #}
                        <div class="card-ic">
                            <div id="adm-btn" class="adm-btn">
                                <div class="ic" ><a id="link1" href="{{ path('club', {"id": club.id}) }}"><img src="{{ asset('icon/open-blue.png') }}" alt="Voir le club">
                                        <br><h4 class="pad5">Voir le club</h4></a>
                                </div>
                                <div class="ic" ><a id="link2" href="{{ path('profile_club_create') }}"><img src="{{ asset('icon/add-file-green.png') }}" alt="Créer un club">
                                        <br><h4 class="pad5">Créer un club</h4></a>
                                </div>
                                <div class="ic" ><a id="link3" href="{{ path('profile_club_update', {"id": club.id}) }}"><img src="{{ asset('icon/edit-pink.png') }}" alt="Modifier le club">
                                        <br><h4 class="pad5">Modifier le club</h4></a>
                                </div>
                                <div class="ic" ><a id="link4" href="{{ path('profile_club_delete', {"id": club.id}) }}"><img src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le club">
                                        <br><h4 class="pad5">Supprimer le club</h4></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </section>
{% endblock main%}