{% extends "front/base.html.twig" %}

{% block metatitle %}
    Recherche | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block main %}
    <section class="">
        <div id="ico">
            <div class="element"><img class="title logoBig" href="{{ path('shops') }}" src="{{ asset('icon/shops_titre.png') }}" alt="Shop"></div>
            <div class="element"><img class="logoBig" href="{{ path('shops') }}" src="{{ asset('icon/shops.png') }}" alt="Shop-icon"></div>
        </div>
        <div class="line"></div>
        <div class="">
            <form action="{{ path('search_shops') }}">
                {% block search %}
                    <article class="detail">
                        <div class="card-text" id="divSearch">
                            <div class="btn logo icon"><label><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label>
                            </div>
                            <div class="btn"><input type="text" name="query" placeholder="Ville, Code postal">
                            </div>
                        </div>
                    </article>
                {% endblock search %}
            </form>
        </div>
    </section>
    <section class="">
        <article>
        <div class="line"></div>Voici le résultat de la recherche pour :
        {% for shop in shops %}
            {{  shop.title  }}<br>
            <div class="card-text">
                <article class="card-detail">
                    <div class="card-title"><h1>{{ shop.title }}</h1><br></div>
                </article>
                <article class="card-address">
                    <div class="card-title"><h2>{{ shop.address }} {{ shop.town }}</h2></div>
                </article>
                <div id="sta1" class="static">
                    <b>
                        <img class="img-card" src="{{ asset('uploads/cover/'~shop.coverFilename) }}" alt="photo-shop">
                    </b>
                </div>
                {#             {% if skatepark.club %} #}
                {#                        <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3> #}
                {#                    {% endif %} #}

                <div class="card-ic">
                    <div id="adm-btn" class="adm-btn">
                        <div class="ic" ><a id="link1" href="{{ path('shop', {"id": shop.id}) }}"><img src="{{ asset('icon/open-blue.png') }}" alt="Voir le shop">
                                <br><h4 class="pad5">Voir le shop</h4></a>
                        </div>
                        <div class="ic" ><a id="link2" href="{{ path('profile_shop_create', {"id": shop.id}) }}"><img src="{{ asset('icon/add-file-green.png') }}" alt="Créer un shop">
                                <br><h4 class="pad5">Créer un shop</h4></a>
                        </div>
                        <div class="ic" ><a id="link3" href="{{ path('profile_shop_update', {"id": shop.id}) }}"><img src="{{ asset('icon/edit-pink.png') }}" alt="Modifier un shop">
                                <br><h4 class="pad5">Modifier un shop</h4></a>
                        </div>
                        <div class="ic" ><a id="link4" href="{{ path('profile_shop_delete', {"id": shop.id}) }}"><img src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le shop">
                                <br><h4 class="pad5">Supprimer le shop</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </article>
    </section>
{% endblock main %}
