{% extends "front/base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
{% endblock stylesheets %}

{% block metatitle %}
    Shops | Skateboard Social Club
{% endblock metatitle %}

{% block main %}
    <section class="">
        <div id="ico">
            <div class="element"><img class="title logoBig" href="{{ path('shops') }}" src="{{ asset('icon/shops_titre.png') }}" alt="shops"></div>
            <div class="element"><img class="title logoBig" href="{{ path('shops') }}" src="{{ asset('icon/shops.png') }}" alt="shops-icon"></div>
        </div>
        <div class="line"></div>
        <div class="">
            <form>
                <div id="divSearch">
                    <div class="btn logo"><label for="userId"><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label></div>
                    <div class="btn"><input type="text" id="userId" name="userId" placeholder="Ville, Code postal"></div>
                </div>
            </form>
        </div>
        <div class="line">
        </div>
    </section>
    <section class="section">
        <article class="book-detail">
            <article class="">
            </article>
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d11315.680982514892!2d-0.5710845672348571!3d44.84355753439826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sskateshop%20bordeaux!5e0!3m2!1sfr!2sfr!4v1653259555771!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </article>
    </section>
    <section class="section">
        <article>
            {% for shop in shops %}
                <div class="card">
                    <div class="card-text">
                        <h1>{{ shop.title }}</h1>
                        {#     <img src="{{ asset('uploads/cover/'~shop.coverFilename) }}" alt=""> #}
                        <h2>{{ shop.description}}</h2>
                        <h3>{{ shop.town}}</h3>
                        <h3>{{ shop.area}}</h3>
                        {#     {% if shop.skatepark %} #}
                        {#         <h3>{{ shop.skatepark.town }} {{ shop.skatepark.area }}</h3> #}
                        {#     {% endif %} #}
                    </div>
                    <a class="link" href="{{ path('shop', {"id": shop.id}) }}">Voir le shop</a>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock main%}