{% extends "front/base.html.twig" %}

{% block metatitle %}
    Recherche | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
{% endblock stylesheets %}

{% block main %}
    <section class="">
        <div id="ico">
            <div class="element"><img class="title logoBig" href="{{ path('skateparks') }}" src="{{ asset('icon/skateparks_titre.png') }}" alt="Skatepark"></div>
            <div class="element"><img class="logoBig" href="{{ path('skateparks') }}" src="{{ asset('icon/skateparks.png') }}" alt="Skatepark-icon"></div>
        </div>
        <div class="line"></div>
        <div class="">
            <form action="{{ path('search_skateparks') }}">
                {% block search %}
                    <article class="detail">
                        <div class="card-text" id="divSearch">
                            <div class="btn logo icon"><label><img src="{{ asset('icon/loupe.png') }}" alt="loupe"></label>
                            </div>
                            <div class="btn"><input type="text" name="query" placeholder="Ville, Code postal">
                            </div>
                        </div>
                    </article>
                {% endblock search %}
            </form>
        </div>
    </section>
    <section class="">
        <article>
            <div class="line"></div>Voici le résultat de la recherche pour :
            {% for skatepark in skateparks %}
                {{  skatepark.title  }}<br>
                <div class="card-text">
                    <article class="card-detail">
                        <div class="card-title"><h1>{{ skatepark.title }}</h1><br></div>
                    </article>
                    <article class="card-address">
                        <div class="card-title"><h2>{{ skatepark.address }} {{ skatepark.town }}</h2></div>
                    </article>
                    <div id="sta1" class="static">
                        <b>
                            <img class="img-card" src="{{ asset('uploads/cover/'~skatepark.coverFilename) }}" alt="photo-skatepark">
                        </b>
                    </div>
                    {#             {% if skatepark.club %} #}
                    {#                        <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3> #}
                    {#                    {% endif %} #}

                    <div class="card-ic">
                        <div id="adm-btn" class="adm-btn">
                            <div class="ic" ><a id="link1" href="{{ path('skatepark', {"id": skatepark.id}) }}"><img src="{{ asset('icon/open-blue.png') }}" alt="Voir le skatepark">
                                    <br><h4 class="pad5">Voir le skatepark</h4></a>
                            </div>
                            <div class="ic" ><a id="link2" href="{{ path('profile_skatepark_create', {"id": skatepark.id}) }}"><img src="{{ asset('icon/add-file-green.png') }}" alt="Créer un skatepark">
                                    <br><h4 class="pad5">Créer un skatepark</h4></a>
                            </div>
                            <div class="ic" ><a id="link3" href="{{ path('profile_skatepark_update', {"id": skatepark.id}) }}"><img src="{{ asset('icon/edit-pink.png') }}" alt="Modifier un skatepark">
                                    <br><h4 class="pad5">Modifier un skatepark</h4></a>
                            </div>
                            <div class="ic" ><a id="link4" href="{{ path('profile_skatepark_delete', {"id": skatepark.id}) }}"><img src="{{ asset('icon/delete-orange.png') }}" alt="Supprimer le skatepark">
                                    <br><h4 class="pad5">Supprimer le skatepark</h4></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </article>
    </section>
{% endblock main %}
