<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>{% block metatitle %}{% endblock metatitle%}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/details.css') }}">
        <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
        <link rel="stylesheet" href="{{ asset('css/search.css') }}">

    </head>
<body>
    <header>
        <nav role='navigation'>
            <a href="{{ path('home') }}" class="marge">
                <img src="{{ asset('logo/logo_blanc_trans.png') }}" alt="logo" class="left logo resp">
            </a>
            <ul>
                <li><a><img src="{{ asset('icon/loupe.png') }}" alt="loupe" class=""></a></li>
                <li><a>{% block search %}<img src="{{ asset('icon/loupe.png') }}" alt="loupe" class="">{% endblock search %}</a></li>
                <li><a><img src="{{ asset('icon/login.png') }}" alt="login" class=""></a></li>
                <li>
                    <div id="menuToggle">
                        <input type="checkbox"/>
                        <span></span>
                        <span></span>
                        <span></span>
                        <ul class="cont" id="menu">
                            <a href="{{ path('sessions') }}"><li class="col">SESSIONS</li></a>
                            <a href="{{ path('skateparks') }}"><li class="col">SKATEPARKS</li></a>
                            <a href="{{ path('clubs') }}"><li class="col">CLUBS</li></a>
                            <a href="{{ path('shops') }}"><li class="col">SHOPS</li></a>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </header>
<main id="main">

    {% block main %}{% endblock main %}

</main>
    <footer class="footer">
        <nav>
            <ul>
                <a href="#main" class="marge">
                    <li>
                        <img src="{{ asset('icon/fleche_droite.png') }}" alt="logo" class="left logo resp arrow">
                 </li>
                </a>
            </ul>
        </nav>
    </footer>

</body>
</html>
