
{% extends "base.html.twig" %}

{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/home.css') }}">{% endblock stylesheets %}

{% block main %}

    <main>
        <img class="title left resp" src="{{ asset('icon/clubs_titre.png') }}" alt="club">
        <img class="title right resp" src="{{ asset('icon/club.png') }}" alt="Club-icon">


        <section class="section">
            {% for club in clubs %}

                <div class="card">

                    <div class="card-text">
                        <h1>{{ club.title }}</h1>
                        {#  <img src="{{ asset('uploads/cover/'~club.coverFilename) }}" alt=""> #}
                        <h2>{{ club.description}}</h2>
                        <h3>{{ club.town}}</h3>
                        <h3>{{ club.area}}</h3>
                        {#             {% if skatepark.club %} #}
                        {#                        <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3> #}
                        {#                    {% endif %} #}
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main%}