{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
{% endblock stylesheets %}

{% block metatitle %}
    Skateparks | Skateboard Social Club
{% endblock metatitle %}

{% block main %}
    <main>
        <img class="title" src="{{ asset('icon/skateparks_titre.png') }}" alt="Skateparks">
        <img class="title" src="{{ asset('icon/skateparks.png') }}" alt="Skatepark">
        <section>
            <form>
                <input type="search" name="q" placeholder="Rechercher">
                <input type="submit" value="Lancer !">
            </form>
        </section>
        <section class="section">
            {% for skatepark in skateparks %}
                <div class="card">
                    <div class="card-text">
                        <h1>{{ skatepark.title }}</h1>
                        {#  <img src="{{ asset('uploads/cover/'~club.coverFilename) }}" alt=""> #}
                            <h2>{{ skatepark.description}}</h2>
                            <h3>{{ skatepark.town}}</h3>
                            <h3>{{ skatepark.area}}</h3>
                        {#             {% if skatepark.club %} #}
                        {#                        <h3>{{ skatepark.club.town }} {{ skatepark.club.area }}</h3> #}
                        {#                    {% endif %} #}
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock main%}