{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'front/base.html.twig' %}

{% block metatitle %}
    Erreur 404 | Skateboard Social Club
{% endblock metatitle %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('css/burger.css') }}">
    <link rel="stylesheet" href="{{ asset('css/search.css') }}">
    <link rel="stylesheet" href="{{ asset('css/navbar.scss') }}">
    {{ parent()}}
    {{ encore_entry_link_tags('app') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock javascripts %}

{% block main %}
    <section class="">
        <div class="line"></div>
        <div class="">
            <div class="">
                {% block search %}
                    <form action="{{ path('admin_search_clubs') }}">
                        <div id="divSearch">
                            <div class="btn logo icon">
                                <label for="userId">
                                    <img class="logo icon" src="{{ asset('icon/loupe.png') }}" alt="loupe">
                                </label>
                            </div>
                            <div class="btn">
                                <input type="text" id="userId" name="query" placeholder="Ville, Code postal">
                            </div>
                            <input type="submit">
                        </div>
                    </form>
                {% endblock search %}
            </div>
            <div class="line">
            </div>

        <h1>La page n'a ps été trouvé car elle n'existe pas </h1>
        <a class="" href="{{ path('home') }}"><img src="{{ asset('uploads/fallin-nyjah.jpg') }}" alt="logo"></a>

        <p>
            The requested page couldn't be located. Checkout for any URL
            misspelling or <a href="{{ path('home') }}">return to the homepage</a>.
        </p>
    </div>
    <article>
    <div class="homeElement">
        <div class="element"><a><img class="logoBig" href="{{ path('front_sessions') }}" src="{{ asset('icon/sessions_titre.png') }}" alt="Session"></a></div>
        <div class="element"><a><img class="logoBig" href="{{ path('front_sessions') }}" src="{{ asset('icon/session.png') }}" alt="Session-icon"></a></div>
    </div>
    <div class="line"></div>

    <a href="{{ path('front_sessions') }}">Voir toutes les sessions</a>
    </article>
    </section>
    <section class="section">
        <article>
            <div class="homeElement">
                <div class="element"><img class="logoBig" href="{{ path('front_skateparks') }}" src="{{ asset('icon/skateparks_titre.png') }}" alt="skateparks"></div>
                <div class="element"><img class="logoBig" href="{{ path('front_skateparks') }}" src="{{ asset('icon/skateparks.png') }}" alt="skateparks-icon"></div>
            </div>
            <div class="line"></div>

            <a href="{{ path('front_skateparks') }}">Voir tous les skateparks</a>
        </article>
    </section>
    <section class="section">
        <article>
            <div class="homeElement">
                <div class="element"><img class="logoBig" href="{{ path('front_clubs') }}" src="{{ asset('icon/clubs_titre.png') }}" alt="Club"></div>
                <div class="element"><img class="logoBig" href="{{ path('front_clubs') }}" src="{{ asset('icon/club.png') }}" alt="Club-icon"></div>
            </div>
            <div class="line"></div>

            <a href="{{ path('front_clubs') }}">Voir tous les clubs</a>
        </article>
    </section>
    <section class="section">
        <article>
            <div class="homeElement">
                <div class="element"><img class="logoBig" href="{{ path('front_shops') }}" src="{{ asset('icon/shops_titre.png') }}" alt="shops"></div>
                <div class="element"><img class="logoBig" href="{{ path('front_shops') }}" src="{{ asset('icon/shops.png') }}" alt="shops-icon"></div>
            </div>
            <div class="line"></div>

            <a href="{{ path('front_shops') }}">Voir tous les shops</a>
        </article>
    </section>

{% endblock main%}